__pycache__/
.git
.git/**
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
*.db
*.sqlite3
.vscode/
.idea/
*.wav
*.mp3
*.zip
temp/
tmp/
